<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render "layouts/side_bar", user: @user, book: @booknew %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2 class="mt-3">Book detail</h2>
      <table class="table">
        <tr>
          <tbody>
            <td class="text-center"><%= link_to user_path(@user) do %>
            <%= attachment_image_tag @user, :profile_image, :fill, 90, 90, fallback: "no_image.jpg" %></br>
            <%= @user.name %></td><% end %> <!-- book変数のuser_idに関連付けられているuserモデルのnameカラムを表示します -->
            <td><%= link_to book_path(@book) do %><%= @book.title %><% end %></td>
            <td><%= @book.body %></td>
            <% if @user == current_user %>
              <td><%= link_to "Edit", edit_book_path(@book), class: "btn btn-success" %></td>
            <% end %>
            <% if @user == current_user %>
               <td><%= link_to "Destroy", book_path(@book), method: :delete, class: "btn btn-danger" %></td>
            <% end %>
          </tbody>
        </tr>
      </table>
    </div>
  </div>
</div>